@import "../../global.scss";

.sidebar {
  background: $black-secondary-color;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;

  transition: transform 0.2s ease-in;
  -webkit-transition: transform 0.2s ease-in;
  -moz-transition: transform 0.2s ease-in;
  -ms-transition: transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in;
  li {
    display: flex;
    align-items: center;
    padding: 0.6rem 1.5rem;
    margin: 0.2rem 0;
    cursor: pointer;
    span {
      margin-left: 1rem;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.4px;
    }
    &:hover {
      background-color: #374a59;
    }
  }
  hr {
    background-color: $black-border-color;
  }

  &.open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@media screen and (max-width: $break-point-medium) {
  .sidebar {
    width: 90px;
    li {
      justify-content: center;
    }
    span {
      display: none;
    }
  }
}
@media screen and (max-width: $break-point-small) {
  .sidebar {
    position: fixed;
    z-index: 9999;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
